<div class="posts">
  <div class="posts__image">
    <img src="TAKE OUT2.png">
  </div>
  <div class="posts__list">
    <% @posts.each do |post| %>
      <%= link_to post.title, edit_post_path(post)%>
    <% end %>
  </div>
</div>