<h1>Posts#index</h1>
<p>Find me in app/views/posts/index.html.erb</p>

<table class="posts__table">
  <tbody>
    <tr>
      <th class="posts__title">
        <label for=title>タイトル*</label>
      </th>
      <td class="posts__text">
        <input type="text" id="title" size="40">
      </td>
    </tr>
  </tbody>
</table>
<div class="posts__button">
  <button type="submit">
  <span>登録する</span>
</div>
