// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.desc{
    display:grid;
    justify-content: center;
}

.t_login_btn{
    background:rgb(29, 161, 242); 
	color: white;
	cursor: pointer;
	border: 1px solid rgb(29, 161, 242); 
	text-decoration: none;
	text-align: center;
	padding: 0.5em 0.5em;
	box-shadow: 0 0 2px rgb(29, 161, 242);
    border-radius: 50px;
    width:200px;
}

.t_logout_btn{
    background: #BCBCBD  ;
	color: white;
	cursor: pointer;
	border: 1px solid  #BCBCBD  ;
	text-decoration: none;
	text-align: center;
	padding: 0.5em 0.5em;
	box-shadow: 0 0 2px  #BCBCBD ;
    border-radius: 50px;
    width:200px;
}

.t_login_btn a{
    text-decoration: none;
    color:white;
}

.t_logout_btn a{
    text-decoration: none;
    color:white;
}

.t_login_btn:hover{
	opacity: 0.7;
}

.t_logout_btn:hover{
	opacity: 0.7;
}