// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.posts__image img {
    width: 100%;
}

.posts__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    grid-template-columns: 400px 400px 400px;
    grid-column-gap: 30px;
    grid-row-gap: 20px;
    text-align: center;
  &a {
   
  }
}